{% extends 'base_generic.html' %}

{% block content %}

    {% if form.errors %}
        <p>Seu usuário ou senha não conferem. Tente novamente</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Sua conta não possui permissão para acessar essa página. Por favor, faça login</p>
        {% else %}    
            <p>Por favor, faça login para ver essa página</p>
        {% endif %}
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    
    </form>
    <p><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>

{% endblock content %}


