{% extends 'base_generic.html' %}


{% block content %}

    <h1>Livros emprestados</h1>
    {% if book_list_staff and user.is_staff %}
        <ul>
            {% for bookinst in book_list_staff %}
                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                    <a href="{% url 'catalogo:book_detail' bookinst.book.pk %}">
                        {{ bookinst.book.title }}
                    </a>({{ bookinst.due_back }})
                </li>
            {% endfor %}
        </ul>
    {% elif book_list_user and not user.is_staff %}
    <ul>
        {% for bookinst in book_list_user %}
            <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                <a href="{% url 'catalogo:book_detail' bookinst.book.pk %}">
                    {{ bookinst.book.title }}
                </a>({{ bookinst.due_back }})
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3>Não temos cópias emprestadas</h3>
    {% endif %}

{% endblock content %}




